header{
    margin: 25px auto;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: gold;
    text-shadow: black 4px 4px 8px;
}
.grid{
    padding-top: 20px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}
.grid img{
    width: 100%;
    border: 3px solid blue;
    
}