*{
    box-sizing: border-box;
}
header,footer{
    background-color: white;
    border-style: solid;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
}
video , audio{
    padding-top: 20px;
    width: 80%;
    margin: auto;
    display: block;
}

iframe{
    width: 500px;
    height: 300px;
    display: block;
    margin: auto;
}