.indicehtml{ /* modifica el indice de los ejercicios del html*/
    background-color: green; /* pone el color de fondo verde*/
    width: 80%; /* indica el tama単o en horizontal del cuadro*/
    margin: auto; /* indica el margen del texto*/
    border: 5px dotted; /* indica el grosor del borde y el estilo que es punteado*/
    padding: 20px; /* indica el tama単o en vertical del cuadro*/
    border-top-right-radius: 25px; /*modifica el radio de la esquina izquierda arriba*/
    border-top-left-radius: 25px;} /*modifica el radio de la esquina derecha arriba*/
    .indicecss{ /* modifica el indice de los ejercicios del css*/
        background-color: rgb(6, 6, 78); /* pone el color de fondo azul*/
        width: 80%; /* indica el tama単o en horizontal del cuadro*/
        margin: auto; /* indica el margen del texto*/
        border: 5px dotted; /* indica el grosor del borde y el estilo que es punteado*/
        padding: 20px; /* indica el tama単o en vertical del cuadro*/
        border-top-left-radius: 25px; /*modifica el radio de la esquina izquierda arriba*/
        border-top-right-radius: 25px;}/*modifica el radio de la esquina derecha arriba*/
    body{ /* modifica el cuerpo*/
        background-image: url(/fotos/descarga.jfif); /* inserta la foto*/
        background-repeat: no-repeat; 
        background-size: cover;      /* es para que la foto cubra toda la pantalla */
        background-position: center; /* pone la foto en el centro */
        background-attachment: fixed; /*mantiene fija la foto*/
    }
    .html{ /* modifica el titulo del html*/
        color: white; /* cambia el color blanco*/
        text-align: center; /* pone el texto en el centro*/
    }
    .css{ /* modifica el titulo del css*/
        color: white; /* cambia el color blanco*/
        text-align: center; /* pone el texto en el centro*/
    }