p{
    color: blue;
}

pre{
    color: deeppink;
    background-color: beige;
}
h1{
    background-color: red;
    color: white;
    border: solid;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

h3{
    text-align: center;
}

body{
    background-color: aqua;
}