
body {
    background: white;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    max-width: 700px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(240, 31, 31, 0.562);
}

fieldset {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid white;
}

legend {
    font-weight: bold;
    padding: 0 10px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: 600;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #aaa;
    box-sizing: border-box;
}

input [type="range"] {
    width: 100%;
}

input [type="radio"], input [type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

button, input [type="submit"] {
    padding: 12px 20px;
    background: #4a73ff;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;

}


@media (max-width: 600px) {
    form {
        padding: 15px;
    }
    input, textarea, select {
        font-size: 14px;
    }
}