*{
    margin: 0;
    padding: 0;
}
html,body{
height: 100%;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
}
header,footer{
    background-color: rgb(34, 130, 240);
    text-align: center;
    padding: 2rem;
}
main{
    background-color: aqua;
    padding: 2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
}
article{
    background-color:burlywood;
    padding: 2rem;
    border-radius: 25px;
}
section{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    justify-content: space-around;
}
section *{
    border-radius: 2.5rem;
}
footer img{
    width: 15%;
    flex: 1 1 705;
}
aside{
    background-color: beige;
    flex: 1 1 30%;
    padding: 5rem;
    text-align: center  ;
}
.enun{
    font-style: italic;
}