*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 1600px;
    background-image: url(./fotos/descarga.jfif);
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;   
    overflow: hidden; /*hace que no haga scroll*/
}
h1{
    color: white;
    text-align: center;
}
header{
    background-color: rgba(17, 211, 236, 0.432);
    bottom: 0px;
    width: 100%;
    padding: 2rem;
    text-align: center;
}
footer{
    position: fixed;
    bottom: 1px;
    text-align: center;
    width: 100%;
    padding: 1rem;
    background-color: rgba(17, 211, 236, 0.432);
}